/* This is the style.css for every webpage */
/* You can style some elements with css designer "https://enjoycss.com" */

html {
    /* Set the font globally */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    padding-left: 1%;
    color: rgb(66, 142, 255);
}

p {
    padding-left: 2%;
    width: 65%;
}

footer {
    /* Design of footer */
    background: rgb(41, 46, 48);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Height of the footer */
    height: 25px;
    /* Design of text */
    color: rgb(159, 176, 200);
    padding-left: 10px;
    padding-top: 5px;
}